body {
  background: #eeeeee;
  font-family: "Roboto Condensed", sans-serif;
}
.logo {
  width: 120px;
}

.botonera li {
  display: inline-block;
  margin-left: 8px;
  font-weight: 700;
  font-size: 20px;
}
.botonera li a {
  color: rgb(0, 0, 0);
}
.botonera li a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header {
  background: white;
  padding-top: 15px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 34242;
}

.principal {
  background: white;
  height: 90vh;
  background: url(../images/Cons1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vertical-centered-text {
  -ms-display: flex;
  display: flex;
  /* ALINEACION VERTICAL */
  align-items: center;
  /* ALINEACION HORIZONTAL */
  justify-content: center;
}

.cta {
  text-align: center;
}
h1 {
  font-weight: 700;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.orange {
  background: #ecb712;
}

.nosotros {
  width: 100%;
  height: 50vh;
  text-align: center;
  padding-top: 150px;
}
.nosotros h1 {
  color: rgb(0, 0, 0);
  font-weight: 100;
}

.servicios {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.servicios img {
  width: 40%;
  text-align: center;
}

.servicios h1 {
  color: rgb(0, 0, 0);
  font-weight: 100;
}

.servicios .images {
  padding-top: 30px;
}

.images .col-md-3 {
  padding-top: 20px;
}
.social {
  text-align: center;
}
.social img {
  width: 30%;
  text-align: center;
}

footer {
  background: #ecb712;
  height: 50vh;
  padding-top: 30px;
}
footer h1 {
  text-align: center;
  font-weight: 100;
}

.copyright {
  text-align: center;
  font-weight: 150;
  font-size: 14px;
}

#home h4 {
  color: white;
}

#home a {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
}

.col-xs-4 {
  text-align: center;
}

/*@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { }
@media only screen and (min-width: 324px) and (max-width: 736px) {*/
@media only screen and (max-device-width: 480px),
  only screen and (min-device-width: 560px) and (max-device-width: 1136px) {
  /* iPhone ONLY */
  /* STYLES */
  .off {
    display: none !important;
  }
  .on {
    display: block !important;
  }
  .col-md-2 {
    width: 100%;
  }
  .social img {
    width: 100%;
  }
  .botonera li a {
    font-size: 13px;
  }
  .nosotros {
    height: 400px;
    overflow: hidden;
    padding-top: 100px;
  }
  #home {
    padding-top: 65px;
  }

  h1 {
    font-size: 30px;
  }

  footer {
    padding-top: 10px;
  }
}
